<div class="wrapper">
    <div class="title-container">
      <h3 class="page-title">PROJECTS LIST</h3>
      <h4 class="page-subtitle">- {{ projectName }} -</h4>
    </div>
    <div class="wrapper-table">
      <table mat-table [dataSource]="dataSource" class="table" matSort (matSortChange)="announceSortChange($event)">
            <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id.</th>
            <td mat-cell *matCellDef="let project">{{ project.id }}</td>
            </ng-container>
    
            <ng-container matColumnDef="Project Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Project Name</th>
            <td mat-cell *matCellDef="let project">{{ project.name }}</td>
            </ng-container>
    
            <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell *matCellDef="let project">{{ project.description }}</td>
            </ng-container>
        </table>
    </div>
</div>
